* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;



}
:root {
--white-text: #f8f6f6;
--height: var(height: 100vh;)

}


.h1 {
box-sizing: border-box;
color: #708597;
display: block;
font-family: roboto, sans-serif;
font-size: 16px;
font-weight: 400;
height: 26.5px;
line-height: 24px;
margin-right: 0px;
max-width: 290px;
text-align: left;
text-size-adjust: 100%;
width: 290px;
background-color: lightgray;


}
.h2 {
height: 70px;
display: flex;
align-items: center;
align-self: center;
width: 1200px;



}
.h3 {
color: #708597;


}
